<div {{ react_component('Navbar') }}></div>

<header class="header">
	<nav class="header__navbar">
		<a href="#">Home</a>
		<a href="#">About</a>
		<a href="#">Services</a>
		<a href="#">Contact</a>
		<a href="#">Recettes</a>
		<a href="#">Connexion</a>
	</nav>
	<div class="header__title">
		<h1>Sandrine Coupard</h1>
		<h2>Diététicienne Nutritionniste</h2>
	</div>
</header>