<div {{ react_component('Navbar') }}></div>

<header class="header">
	<nav class="header__navbar">
		<a href="/home">Home</a>
		<a href="#">About</a>
		<a href="#">Services</a>
		<a href="#">Contact</a>
		<a href="#">Recettes</a>
		{% if is_granted('ROLE_ADMIN')  %}
            <a href="/admin" >Admin</a>
		{% else %}
		<a href="/login">Connexion</a>
        {% endif %}
	</nav>
	<div class="header__title">
		<h1>Sandrine Coupard</h1>
		<h2>Diététicienne Nutritionniste</h2>
	</div>
</header>