@use "../base/_all" as *

.login-section, .admin-section, .form-section
	background-color: black
	font-family: "Baloo Bhaina", sans-serif

	&__title
		text-align: center
		margin: 0
		color: $white
		padding: 2rem
		font-size: 2.5rem

.form
	max-width: 600px
	margin: 0 auto
	padding: 20px
	background-color: $lightgray
	color: #FFFFFF
	font-family: "Baloo Bhaina", sans-serif
	border: $green 3px solid
	border-radius: 20px
	display: flex
	flex-direction: column

	&__label
		@include input($green)
		font-weight: bold
		padding-bottom: 0.5rem

	&__input
		@include input($black)
		padding: 0.75rem
		border-radius: 5px
		border: 1px solid $green
		font-size: 1rem
		margin-bottom: 1rem

	&__choices
		@include input($white)
		font-size: 1rem

		input
			margin: 0.3rem

	&__btn
		@include button($green, $green)
		color: $black
		&:hover
			background-color: darken($green, 30%)
			color: white

.form-group
	display: flex
	flex-direction: column

.form-error
	margin-top: 0.25rem
	font-size: 0.9rem
	color: #e74c3c
	font-style: italic

.separator
	width: 60%
	border: 1px solid $gray
	margin: 2rem auto

.container-btn
	display: flex
	flex-direction: column
