{% extends 'base.html.twig' %}
{% block header %}
{% include "partials/headerDark.html.twig" %}
{% endblock %}

{% block body %}

<section class="sectionRecipes">
	<h2>Recettes</h2>
	<div class="sectionRecipes__container">
		<div class="sectionRecipes__container-react" {{ react_component('Recipes', {'url': '/api/get/recipes' }) }}>
		</div>
	</div>
</section>


{% endblock %}